<div class="welcome-container">
    <h2>Panel de Resumen</h2>
    <p>Bienvenido de nuevo a GarageBenz.</p>

    <div class="stats-grid">
        @if (role === 'cliente') {
            <div class="card"><h3>Mis Vehículos</h3><p>3 Activos</p></div>
            <div class="card"><h3>Próxima Cita</h3><p>22/10 - 10:00h</p></div>
        }

        @if (role === 'administrador') {
            <div class="card"><h3>Usuarios Totales</h3><p>150</p></div>
            <div class="card"><h3>Ingresos Mes</h3><p>12.450€</p></div>
        }
    </div>
</div>