<div class="registro-container">
    <h2>Añadir Nuevo Vehículo</h2>

    <form (ngSubmit)="registrar()" #f="ngForm">
        <div class="form-group">
            <label>Matrícula</label>
            <input type="text" name="matricula" [(ngModel)]="nuevoVehiculo.matricula" required
                placeholder="Ej: 1234ABC">
        </div>

        <div class="form-group">
            <label>VIN (Nº Bastidor)</label>
            <input type="text" name="vin" [(ngModel)]="nuevoVehiculo.vin" required placeholder="17 caracteres">
        </div>

        <div class="form-group">
            <label>Modelo</label>
            <input type="text" name="modelo" [(ngModel)]="nuevoVehiculo.modelo" required
                placeholder="Ej: Mercedes Clase C">
        </div>

        <div class="form-group">
            <label>Año</label>
            <input type="number" name="anio" [(ngModel)]="nuevoVehiculo.anio" required>
        </div>

        <button type="submit" [disabled]="f.invalid">Registrar Vehículo</button>
    </form>
</div>