<div class="registration-container">

  @if (statusMessage) {
  <div class="benz-toast" [class.success]="statusMessage.type === 'success'"
    [class.error]="statusMessage.type === 'error'">
    <div class="toast-content">
      <i class="bi"
        [class]="statusMessage.type === 'success' ? 'bi-check-circle-fill' : 'bi-exclamation-triangle-fill'"></i>
      <span>{{ statusMessage.text }}</span>
    </div>
    <div class="progress-bar"></div>
  </div>
  }

  <div class="overlay"></div>

  <div class="registration-card">

    <div class="logo-container">
      <h1 class="brand-title">GARAGE<span>BENZ</span></h1>
      <p class="brand-subtitle">EXCELENCIA EN CADA DETALLE</p>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="registration-form">

      <div class="form-group">
        <label>Nombre</label>
        <input type="text" formControlName="nombre" placeholder="Nombre">
        @if (Control('nombre', 'required')) { <small class="error-msg">Requerido</small> }
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>Primer Apellido</label>
          <input type="text" formControlName="apellido1" placeholder="Apellido 1">
          @if (Control('apellido1', 'required')) { <small class="error-msg">Requerido</small> }
        </div>
        <div class="form-group">
          <label>Segundo Apellido</label>
          <input type="text" formControlName="apellido2" placeholder="Apellido 2">
          @if (Control('apellido2', 'required')) { <small class="error-msg">Requerido</small> }
        </div>
      </div>

      <div class="form-group">
        <label>Usuario</label>
        <input type="text" formControlName="usuario" placeholder="Nombre de usuario">
        @if (Control('usuario', 'required')) { <small class="error-msg">Requerido</small> }
      </div>

      <div class="form-group">
        <label>Correo Electrónico</label>
        <input type="email" formControlName="correo" placeholder="tu@email.com">
        @if (Control('correo', 'email')) { <small class="error-msg">Formato inválido</small> }
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" formControlName="contrasena" placeholder="••••••••">
        @if (Control('contrasena', 'minlength')) { <small class="error-msg">Mínimo 6 caracteres</small> }
      </div>

      <button type="submit" class="register-button" [disabled]="registerForm.invalid">
        CREAR CUENTA
      </button>

      <button type="button" class="register-button volver-btn" routerLink="/landingPage">
        <i class="bi bi-arrow-left me-2"></i> VOLVER
      </button>

      <div class="login-link">
        ¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a>
      </div>
    </form>
  </div>
</div>